/* common-styles.css */

/* Background color */
body {
    background-color: #add8e6; /* Pastel light blue */
    color: black; /* Default text color */
    font-family: Arial, sans-serif; /* Default font */
    margin: 0;
    padding: 1.11vw; /* Add padding to ensure content does not touch the edges */
    height: 100vh; /* Ensure the background fills the whole viewport */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: black;
    margin: 1.11vw 0;
}

/* Link styles */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Custom horizontal rule */
.custom-hr {
    border: 0;
    height: 0.11vw; /* Increase the height */
    background: rgba(0, 0, 0, 0.8); /* Ensure good contrast */
    margin: 0 0; /* Add margin above and below */
}

p {
    max-width: 100%;
    word-wrap: break-word;
    text-align: justify; /* Justify the text */
}

.content-container {
    background-color: #fffacd; /* Pastel yellow background */
    border: 0.11vw solid white; /* White border */
    border-radius: 0.83vw; /* Rounded edges */
    padding: 1.11vw; /* Padding inside the div */
    margin: 1.11vw 0; /* Margin around the div */
}

.custom-h1 {
    text-align: left;
    margin-top: 0;
    padding: 1.7vw 3.6vw; /* Add padding inside the rounded rectangle */
    background-image: url('pictures/arrow-1988452_1280.png'); /* Set the background image */
    background-size: contain;
    background-position: center; /* Center the background image */
    background-clip: border-box;
    background-origin: border-box;
    border-radius: 0.69vw; /* Rounded corners */
    color: white; /* Text color */
    display: inline-block;
    align-items: center; /* Center text vertically */
    justify-content: flex-start; /* Center text horizontally */
    width: auto;
    white-space: nowrap;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Adjust height as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th {
    padding: 12px 10px;
    text-align: center;
    border: 1px solid black;
}

table td {
    padding: 5px 5px;
    text-align: left; /* Center align text and images */
    border: 1px solid black;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.projects-container {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    margin: 1.11vw 0;
}

.project-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; /* Space between projects */
}

.project-logo {
    margin-right: 20px; /* Space between logo and description */
}

.project-description {
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 769px) {
    .skills-mobile {
        display: none;
    }

    .skills-desktop {
        display: block;
    }

    .custom-h1 {
        padding: 1.7vw 3.6vw; /* Add padding inside the rounded rectangle */
    }
}

@media (max-width: 768px) {
    .custom-h1 {
        padding: 1.39vw 1.94vw;
    }

    .project-item {
        flex-direction: column; /* Stack logo and description vertically on small screens */
        align-items: flex-start;
    }

    .project-logo {
        margin-right: 0;
        margin-bottom: 10px; /* Space between logo and description on small screens */
    }

    .skills-mobile {
        display: block;
    }

    .skills-desktop {
        display: none;
    }

    .custom-h1 {
        padding: 1.7vh 3.6vh; /* Add padding inside the rounded rectangle */
    }
}