/* CSS styling for C++ portfolio */

/* Body styles */
header {
    background-image: url('city.jpg');
    background-size: cover; /* Cover the entire area of the header */
    background-position: center; /* Center the background image */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


/* Navigation styles */
nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #972222;
    margin: 10px 0;
}

.flow-container {
    display: flex;
    align-items: center;
}