html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('pictures/StockCake-Advanced circuit technology_1728060876.jpg');
    background-size: cover;
    background-position: center;
}

.site {
    max-width: 2550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner {
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    box-sizing: border-box;
}

.custom-hr {
    border: 1px white solid; /* White border */
    height: .5vh; /* Increase the height */
    background: rgba(0, 0, 0, 0.8); /* Ensure good contrast */
    margin: 0 0; /* Add margin above and below */
}

.profile-photo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.profile-photo img {
    border-radius: 50%;
}

.menu-bar {
    width: 90%;
    margin: 18px auto;
    background-color: rgb(13,100,166,0.5);
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    border: 0.3rem solid rgb(119, 151, 194);
        box-shadow: 0 0 0 0.5rem rgba(122, 193, 252, 0.5), 
                    0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    margin: 0 1vw;
    position: relative;
}

.menu-bar ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: white;
}

.layout-row {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 0;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 3vw;
    border-radius: 15px;
    background-color: #0c2757;
    transition: background-color 0.3s;
}

.menu-bar ul li a:hover {
    background-color: #0056b3;
}

.menu-bar-mobile {
    width: 95vw;
    background-color: #0A1F44;
    padding: 5vw 0;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 1.5vw;
    margin-top: calc(20px + 3vh);
}

.menu-bar-mobile ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar-mobile ul li {
    margin: 0 1vw;
    position: relative;
}

.menu-bar-mobile ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: white;
}

.menu-bar-mobile ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 3vw;
    border-radius: 15px;
    background-color: #0c2757;
    transition: background-color 0.3s;
}

.menu-bar-mobile ul li a:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-grow: 1;
    max-width: 1600px;
}

.main-page{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: #dddddd8a;
}

.main-area {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1 1 0;
    background: rgba(255, 255, 255, 0.0);
}

.sidebar {
    min-width: 260px;
    max-width: 320px;
    width: 20vh;
    height: 100vh;
    background-color: rgb(15, 54, 90);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    box-shadow: 2px 0 8px rgba(0,0,0,0.08);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar h2 {
    font-size: 1.5rem;
    text-align: center;
    height: 3.2rem;
    background-image: url('pictures/arrow-1988452_1280.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1rem 1.5rem 1rem;
    margin: 0.2rem -1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.contact-item:last-child {
    margin-bottom: 1rem;
}

.contact-label {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-value {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2rem;
}

.contact-value-contact {
    color: black;
}

.social-media-container {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-media-contact-container ul {
    list-style: none;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.social-media-contact-container ul li {
    margin-bottom: 0.5rem;
}

.social-media-contact-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.github-icon {
    width: 80px;
    height: 25px;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.linkedin-icon {
    width: 90px;
    height: 25px;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.researchgate-icon {
    width: 130px;
    height: 25px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.main-content {
    flex: 1 1 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 0;
    background: rgba(255, 255, 255, 0.0);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px 0;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.main-content section {
    margin-bottom: 40px;
}

.main-window {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 0;
    flex: 1 1 0;
}

@media (max-width: 768px) {

    .layout-row {
        flex-direction: column;
        height: auto;
    }
    .contact-menu-item {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .main-content {
        min-height: 0;
    }
    .main-window {
        width: 60vw;
    }

    .menu-bar-mobile {
        display: block;
    }

    
    .profile-photo img {
        display: none;
    }
    
    .contact-photo  {
        img {
            display: block !important;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 0.3rem solid rgb(119, 151, 194);
            box-shadow: 0 0 0 0.5rem rgba(122, 193, 252, 0.5), 
                        0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
        }
        margin-bottom: 1rem;
    }

    .footer {
        width: 100%;
    }

    .menu-bar {
        display: none;
    }
}

@media (min-width: 769px) {
    .contact-menu-item {
        display: none; /* Hide Contact menu item on desktop */
    }

    .sidebar {
        display: block; /* Show sidebar on desktop */
    }

    
    .profile-photo img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        border: 0.3rem solid rgb(119, 151, 194);
        box-shadow: 0 0 0 0.5rem rgba(122, 193, 252, 0.5), 
                    0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
    }

    .footer {
        width: 100%;
    }

    .menu-bar-mobile {
        display: none;
    }

    .menu-bar {
        display: block;
        margin-bottom: 1rem;
    }
}