body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('pictures/StockCake-Advanced\ circuit\ technology_1728060876.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0px;
    position: relative;
}

.profile-photo {
    position: absolute;
    z-index: 2;
}

.profile-photo img {
    border-radius: 50%;
}

.menu-bar {
    width: 95vw;
    background-color: #0A1F44;
    padding: 1.5vw 0;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 1.5vw;
    margin-top: 13vh;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    margin: 0 1vw;
    position: relative;
}

.menu-bar ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: white;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 3vw;
    border-radius: 15px;
    background-color: #0c2757;
    transition: background-color 0.3s;
}

.menu-bar ul li a:hover {
    background-color: #0056b3;
}

.menu-bar-mobile {
    width: 95vw;
    background-color: #0A1F44;
    padding: 5vw 0;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 1.5vw;
    margin-top: calc(20px + 3vh);
}

.menu-bar-mobile ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar-mobile ul li {
    margin: 0 1vw;
    position: relative;
}

.menu-bar-mobile ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: white;
}

.menu-bar-mobile ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 3vw;
    border-radius: 15px;
    background-color: #0c2757;
    transition: background-color 0.3s;
}

.menu-bar-mobile ul li a:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 12vw;
    padding-left: 1.5vw;
    padding-right: 2.5vw;    
    background-color: rgb(15, 54, 90);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar h2 {
    text-align: center;
    width: 12vw;
    height: 6vh;
    background-image: url('pictures/arrow-1988452_1280.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12%;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.contact-item:last-child {
    margin-bottom: 30px;
}

.contact-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-value {
    color: white;
}

.social-media-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.github-icon {
    width: 80px;
    height: 25px;
    margin-bottom: 10px;
}

.linkedin-icon {
    width: 90px;
    height: 25px;
    margin-bottom: 10px;
}

.facebook-icon {
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}

.researchgate-icon {
    width: 130px;
    height: 25px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px 0;
    height: 6%;
    position: fixed;
    bottom: 0;
}

.main-content section {
    margin-bottom: 40px;
}

.main-window {
    border: none;
    display: block;
    width: 100%;
    height: 94%;
}

@media (max-width: 768px) {

    .contact-menu-item {
        display: block; /* Show Contact menu item on mobile */
    }

    .sidebar {
        display: none; /* Hide sidebar on mobile */
    }

    .main-window {
        width: 100vw;
    }

    .menu-bar-mobile {
        display: block;
    }

    .profile-photo {
        position: absolute;
        top: 20px;
        left: 40px;
        z-index: 2;
    }
    
    .profile-photo img {
        border-radius: 50%;
        width: 14vw;
        height: 6.5vh;
        border: 3px solid rgb(119, 151, 194);
        box-shadow: 0 0 0 5px rgba(122, 193, 252, 0.5), 
                    0 0 5px rgba(89, 140, 235, 0.5) inset;
    }

    .footer {
        width: 100%;
    }

    .banner {
        height: 30vh;
        width: 100%;
    }

    .menu-bar {
        display: none;
    }
}

@media (min-width: 769px) {
    .contact-menu-item {
        display: none; /* Hide Contact menu item on desktop */
    }

    .sidebar {
        display: block; /* Show sidebar on desktop */
    }

    .profile-photo {
        position: absolute;
        top: 10%;
        left: 2%;
        z-index: 2;
    }
    
    .profile-photo img {
        border-radius: 50%;
        width: 10vw;
        height: 20vh;
        border: 0.4vw solid rgb(119, 151, 194);
        box-shadow: 0 0 0 0.7vw rgba(122, 193, 252, 0.5), 
                    0 0 0.7vw rgba(89, 140, 235, 0.5) inset;
    }

    .footer {
        width: 100%;
        height: 5.5%;
    }

    .menu-bar-mobile {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .banner {
        height: 27vh;
        width: 100%;
    }
}