.menu-bar {
    width: 90%;
    margin: 0 auto;
    padding: .5rem 0;
    background-color: rgb(13,100,166,0.6);
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    border: 0.3rem solid rgb(119, 151, 194);
    box-shadow: 0 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5), 
                0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-bar a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    min-width: 6.5rem;
    padding: .5rem 2rem;
    margin: .2rem .3rem;
    border-radius: 1rem;
    background-color: rgba(13, 39, 93, 0.7);
    border: 2px rgba(14, 52, 117, 0.5) solid;
    box-shadow: 0 0 0.5rem 0.5rem rgba(14, 52, 117, 0.5);
    transition: background-color 0.3s;
}

.menu-bar a:hover {
    background-color: #0056b3;
}

.menu-bar a img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

@Media (max-width: 800px) {
    .menu-bar a img {
        width: 1rem;
        height: 1rem;
    }
    .menu-bar a {
        font-size: 0.8rem;
        min-width: 6.5rem;
        padding: .2rem .5rem;
    }
}
