/* Link styles */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Custom horizontal rule */









 

.project-description {
    flex-grow: 1;
    width: 100%;
}

.contact-label-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}






@media (min-width: 769px) {
    .skills-mobile {
        display: none;
    }

    .skills-desktop {
        display: block;
    }
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column; /* Stack logo and description vertically on small screens */
        align-items: flex-start;
    }
    .project-logo {
        margin-right: 0;
        margin-bottom: 10px; /* Space between logo and description on small screens */
    }
    .skills-mobile {
        display: block;
    }
    .skills-desktop {
        display: none;
    }
    .timeline {
        margin-left: 0;
    }
    .timeline-item {
        flex-direction: row;
    }
    .timeline-arrow {
        display: none;
    }
}