.github-icon {
    width: 5rem;
    height: 1.7rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.linkedin-icon {
    width: 4.5rem;
    height: 1.5rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.researchgate-icon {
    width: 7.5rem;
    height: 25px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

p {
    word-wrap: break-word;
    text-align: justify;
}

.note-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.note { 
    width: auto;
    border: 1px solid; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 10px 0;  
}
.red { 
    border-color: #E76F51; 
    background-color: rgba(231, 111, 81, 0.1); 
    color: #820a0a;
}
.sea { 
    border-color: #2A9D8F; 
    background-color: rgba(42, 157, 143, 0.1);
    color: #0f6948;
} 
.blue { 
    border-color: #0096C7; 
    background-color: rgba(0, 150, 199, 0.1);
    color: #144c8c;
} 
.green { 
    border-color: #00B353; 
    background-color: rgba(0, 179, 83, 0.1); 
    color: #09450c;
}
