.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.github-icon {
    margin-left: .2rem;
    translate: 0 6px;
}

.project-logo {
    margin: .5rem .6rem;
    border-radius: 50%;
    border: 2px solid #0096C7;
    box-shadow: 0 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5), 
                0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
}