.sidebar {
    min-width: 260px;
    max-width: 320px;
    width: 20vh;
    height: 100%;
    background-color: rgb(15, 54, 90, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    box-shadow: 
        -1.5rem 0 2.5rem -1rem rgba(122, 193, 252, 0.5),
        0 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5),
        0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
}

.sidebar::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    width: 16px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(
        to left, 
        rgba(15, 54, 90, 0.8) 0%,
        rgba(122, 193, 252, 0.3) 60%,
        rgba(122, 193, 252, 0.0) 100%
    );
}

.sidebar::after {
    content: '';
    position: absolute;
    right: -16px;
    top: 0;
    width: 16px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(
        to right, 
        rgba(15, 54, 90, 0.8) 0%,
        rgba(122, 193, 252, 0.3) 60%,
        rgba(122, 193, 252, 0.0) 100%
    );
}
.sidebar h2 {
    font-size: 1.3rem;
    width: 220px;
    height: 50px;
    text-align: center;
    background-image: url('../pictures/arrow-1988452_1280.png');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-origin: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

@media (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 1981px) {
    .sidebar {
        margin-left: 16px;
    }
}