.sidebar {
    min-width: 260px;
    max-width: 320px;
    width: 20vh;
    height: 100vh;
    background-color: rgb(15, 54, 90, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 0.3rem solid rgb(119, 151, 194);
    box-shadow: 0 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5), 
                0 0 0.5rem rgba(89, 140, 235, 0.5) inset;
}

.sidebar h2 {
    font-size: 1.3rem;
    width: 220px;
    height: 50px;
    text-align: center;
    background-image: url('../pictures/arrow-1988452_1280.png');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-origin: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

@media (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 1981px) {
    .sidebar {
        margin-left: 0.5rem;
        border-left: 0.3rem solid rgb(119, 151, 194);
        box-shadow: 
            -0.5rem 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5),
            0 0 0.5rem 0.5rem rgba(122, 193, 252, 0.5),
            inset -0.5rem 0 0.5rem rgba(89, 140, 235, 0.5) inset;
    }
}