html, body {
    background: rgba(255, 255, 255, 0.0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

hr {
    border: 1px white solid;
    height: 5px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
}

.content {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background: rgba(117, 162, 218, 0.85);
    color: #041733;
    border-radius: 10px;
    border: 2px solid rgba(117, 162, 218, 0.85);
    box-shadow: 0 0 0.3rem 0.3rem rgba(146, 155, 243, 0.5), 
                0 0 0.3rem rgba(109, 127, 209, 0.5) inset;
    backdrop-filter: blur(4px);
    padding: 20px;
    margin: 10px;
    height: fit-content;
}

.content ul li {
    text-justify: auto;
    text-align: left;
}

.subsite-header {
    display: block;
    background-color: rgba(89, 140, 235, 0.5);
}

.subsite-body {
    display: block;
    padding: .5rem .5rem;
}

@media (max-width: 1080px) {
}