table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

table th {
    padding: .6rem 0;
    text-align: center;
    border: 1px solid black;
}

table tbody td {
    padding: 1rem .5rem;
    text-align: left;
    border: 1px solid black;
}

table tbody ul {
    padding: 0 1.5rem;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}